

body {
    background-color: rgb(58, 58, 155);
    
}

.header {
    display: flex;
    justify-content: center;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.display {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    
    
}

.search {
    display: flex;
    flex-direction: column;
    border: 5px black solid;
    background-color: white;
    width: 25%;
    height: 100%;
    align-items: center;
    padding: 25px;
    margin: 10px;
}

.searchBtn {
    margin: 10px;
    padding: 5px;
    background-color: rgb(34, 146, 59);
    color: white;
    border: 2px rgb(34, 146, 59) solid;
    border-radius: 4px;
}

.searchBtn:hover {
    border: 4px rgb(34, 146, 59) solid;
}
.searchBtn:active {
    font-weight: bolder;
}

.saveBtn {
    margin: 10px;
    padding: 5px;
    background-color: rgb(29, 138, 172);
    color: white;
    border: 2px rgb(29, 138, 172) solid;
    border-radius: 4px;
}

.saveBtn:hover {
    border: 4px rgb(29, 138, 172) solid;
}
.saveBtn:active {
    font-weight: bolder;
}

.present {
    display: flex;
    justify-content: center;
    border: 5px black solid;
    background-color: white;
    width: 75%;
    height: 100%;
    margin: 10px;
    list-style: none;

}

.future {
    display:flex;
    flex-direction: row;
    border: 5px black solid;
    background-color: white;
    width: 75%;
    height: 100%;
    margin: 10px;
    list-style: none !important;
}

.inputRow {
    display: flex;
    flex-direction: row;
    
}

.input { 
    max-height: 15px;
    align-self: center;
    
}

.weatherList {
    list-style: none;

}

.forecastList {
    list-style: none;
    border-right: 2px black solid;
}

.savedListEl {
    list-style: none;
    border: 2px black solid;
    border-radius: 4px;
    margin: 10px 60px 10px 10px;
    padding:5px 20px 5px 20px;
    text-align: center;
    cursor: pointer;
}

.savedList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.clearLocBtn {
    padding: 10px;
    background-color: rgb(161, 51, 51);
    color: white;
    border: 2px rgb(161, 51, 51) solid;
    border-radius: 5px;

}

.clearLocBtn:hover {
    border: 4px rgb(161, 51, 51) solid;

}
.clearLocBtn:active {
    font-weight: bolder;
}

.icon {
    width: 200px;
    height: 150px;
}

.forecastIcon {
    width: 50px;
    height: 50px;

}